* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}
.page1 {
  width: 100%;
  height: 90vh;
  position: relative;
  background-image: url(./CanteenBackgroundImage/Page1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.buttonouter {
  text-decoration: none;
  background-color: yellow;
  width: 150px;
  margin-right: 20px;
  height: 40px;
  border: solid white 2px;
}
.buttonoute:hover {
  background-color: red;
}
.alignment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.canteenname {
  font-size: 104px;
  font-family: "Dancing Script", cursive;
  text-align: end;
  padding-right: 35px;
  color: aliceblue;
  margin-bottom: 20px;
}
.causion {
  font-size: 35px;
  width: 500px;
  font-family: "Dancing Script", cursive;
  text-align: end;
  padding-right: 35px;
  color: rgb(239, 160, 204);
  margin-bottom: 20px;
}
.canteenname,
.causion,
.buttonouter {
  padding-right: 35px;
}
@media screen and (max-width: 435px) {
  .page1 {
    width: 100%;
    height: 800px;
  }
  .causion {
    width: 200px !important;
    font-size: 10px !important;
  }
}

.page2 {
  position: relative;
  background-image: url(./CanteenBackgroundImage/page2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.imgsize {
  height: 200px;
}

.animated-card {
  transition: transform 0.3s ease-in-out;
}

.animated-card:hover {
  transform: scale(1.1);
}

.page3 {
  position: relative;
  background-image: url(./CanteenBackgroundImage/page3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.counters {
  padding: 3em 2em;
  background: black;
  color: rgb(255, 25, 0);
  text-align: center;
}
.counters > div {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.counter {
  position: relative;
}
.counter h1 {
  font-size: 3rem;
  margin-bottom: 0.5em;
}
.counter:not(:last-child)::before {
  content: "";
  background: #fff;
  position: absolute;
  width: 2px;
  height: 4em;
  top: 25%;
  transform: translate(-50%);
  right: -1rem;
}
@media screen and (max-width: 900px) and (min-width: 501px) {
  .counters > div {
    grid-template-columns: 1fr 1fr;
  }
  .counter:nth-child(2)::before {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .counters > div {
    grid-template-columns: 1fr;
    row-gap: 5em;
  }
  .counter:not(:last-child)::before {
    width: 90%;
    height: 2px;
    top: initial;
    right: initial;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%);
  }
}

.page4 {
  position: relative;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.finalbg {
  background-color: rgb(47, 41, 41);
}
a {
  text-decoration: none;
}
